label.nav-link{
  border-color:black;
  background-color:grey;
  color:white;
}
div.nav-item{
  width:180px;
}
nav.navbar{
  background-color:whitesmoke;
}
label.list{
  background-color:darkgrey;
}
.modal-content{
  width:300px;
}
.form-control{
  width:auto;
}
