label.nav-link{
  border-color:black;
  background-color:grey;
  color:white;
}
.hidescroll:hover{
  overflow-y:scroll;
}
.hidescroll::-webkit-scrollbar { width: 10px; }
.hidescroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}
.hidescroll::-webkit-scrollbar-thumb {
    background-color:lightgray; 
    border-radius: 5px;
}
/*.hidescroll::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}*/
div.nav-item{
  width:180px;
}
nav.navbar{
  background-color:whitesmoke;
}
label.list{
  background-color:darkgrey;
}
.modal-content{
  width:300px;
}
.form-control{
  width:auto;
}
.myrouter{
  min-height:initial;
  max-height:500px;
  overflow-y:scroll;
}

