.row{
  height:500px;
}
div.navbar{
  background-color:lightgray;
  color:grey;
  height:75px;
}
div.navbar1{
  background-color:lightgray;
  color:white;
  height:50px;
  position:relative;
}
label.nav-link{
  border-color:black;
  background-color:whitesmoke;
  color:grey
}
label.nav-link:hover{
  background-color:lightgray;
  color:black;
}
.detail{
  background-color:whitesmoke;
  height:50px;
}
.modal{
  position:fixed;
  right:100px;
}
.payer.modal.fade:not(.in) .modal-dialog{
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
}
.payer{
  position:fixed;
  left:700px;
}
.payer1{
  position:fixed;
  left:200px;
}
.modal-content{
  width:300px;
}
.design1{
    align-content:center;
}
.design{
  top:2px;
  vertical-align:middle;
  line-height:22px;
  text-align:center;
}
.myscroll.modal-body {
  min-height:initial;
  max-height:300px;
  overflow-y:scroll;
} 
.modal-header{
  background-color:grey;
  color:white;
}
.list{
  font-size:small;
}

